In [1]:
%cd ..

C:\Users\georg\Documents\msc-projcet

In [2]:
import pandas as pd
from src.data.emails import clean_content,compute_sentiment
from textblob import TextBlob
import nltk
from datetime import date

In [3]:
# nltk.download('punkt')

In [4]:
wg = "calext"
ml = "calsify"
docs_df = pd.read_pickle(f"data/raw/{wg}/documents.pkl")
events_df = pd.read_pickle(f"data/raw/{wg}/events.pkl")
emails_df = pd.read_pickle(f"data/raw/{ml}/emails.pkl")

print(f"Loaded {docs_df.shape[0]} documents, {events_df.shape[0]} events, and {emails_df.shape[0]} emails")

Loaded 20 documents, 1293 events, and 3048 emails

In [16]:
emails_df['content'] = emails_df['content'].apply(clean_content)
emails_df['sentiment'] = emails_df.apply(compute_sentiment,axis=1)
events_df['timestamp'] = events_df['timestamp'].apply(pd.to_datetime)

In [18]:
emails_df = emails_df[emails_df['sentiment'].notnull()]

In [13]:
filter_revisions = (events_df['type'] == 'new_revision') | (events_df['type'] == 'rfc_published')
grouped_events = events_df[filter_revisions].groupby('doc_id')

In [35]:
[print(group['timestamp']) for label, group in grouped_events]

0   2013-04-26 07:12:36
1   2013-07-15 14:40:11
2   2014-01-07 08:14:22
3   2014-03-15 09:40:37
4   2014-06-11 09:18:39
Name: timestamp, dtype: datetime64[ns]
9    2006-11-15 00:00:00
10   2008-11-03 00:00:01
11   2011-04-14 00:00:02
13   2012-09-27 08:23:58
14   2014-01-13 07:11:07
15   2014-01-30 07:21:29
Name: timestamp, dtype: datetime64[ns]
22   2010-02-26 00:00:00
23   2010-07-12 00:00:01
24   2010-10-25 00:00:02
25   2011-03-14 00:00:03
26   2011-04-07 00:00:04
28   2012-06-09 19:24:16
29   2013-01-31 16:15:40
30   2013-09-12 07:18:38
31   2014-03-16 18:56:09
32   2014-07-26 08:29:21
Name: timestamp, dtype: datetime64[ns]
38   2014-10-04 10:19:33
42   2014-11-11 08:03:39
45   2014-12-10 07:25:24
49   2015-01-07 07:21:14
63   2015-02-11 09:24:05
Name: timestamp, dtype: datetime64[ns]
126   2015-03-23 08:29:11
127   2015-11-23 13:46:44
136   2016-05-23 07:28:39
148   2016-06-22 09:20:29
190   2016-07-07 09:08:54
Name: timestamp, dtype: datetime64[ns]
224   2015-04-06 07:55:36
225   2015-10-08 11:41:36
234   2016-05-24 09:51:54
241   2016-06-04 05:42:15
285   2016-06-29 07:02:21
300   2016-08-22 12:30:38
Name: timestamp, dtype: datetime64[ns]
340   2016-08-25 06:15:59
347   2017-02-03 10:14:33
351   2017-02-10 20:07:19
356   2017-10-11 22:06:55
361   2018-05-05 19:02:26
370   2020-07-29 08:57:42
374   2020-12-31 13:59:28
384   2021-07-30 20:28:00
Name: timestamp, dtype: datetime64[ns]
397   2016-08-25 06:16:24
403   2017-03-05 21:49:10
407   2017-04-21 20:37:48
414   2017-05-04 07:54:46
418   2017-10-10 15:47:42
422   2017-10-11 20:51:57
427   2018-05-05 19:20:34
431   2018-05-15 22:29:42
436   2018-08-06 20:45:25
441   2018-08-30 20:16:12
446   2018-10-19 13:17:29
461   2019-02-27 20:29:49
469   2019-04-08 19:31:08
507   2019-05-26 20:18:28
532   2019-08-02 13:40:41
540   2019-10-08 13:01:58
551   2020-10-16 11:34:37
557   2021-01-03 13:17:40
569   2021-01-13 12:52:47
595   2021-03-26 10:22:39
Name: timestamp, dtype: datetime64[ns]
612   2016-10-17 08:33:27
616   2017-03-10 14:45:42
620   2017-03-13 12:53:18
657   2017-07-24 12:14:04
700   2019-03-05 08:45:00
Name: timestamp, dtype: datetime64[ns]
742   2019-06-10 10:28:42
750   2020-01-17 12:54:41
758   2020-07-13 11:31:18
766   2020-11-25 16:04:09
778   2021-02-01 07:38:45
801   2021-02-15 11:55:55
843   2021-03-02 13:00:55
854   2021-03-03 07:04:34
Name: timestamp, dtype: datetime64[ns]
882   2019-06-07 08:43:11
886   2019-11-03 21:20:13
894   2020-07-29 20:35:20
899   2021-02-01 14:12:13
906   2021-07-26 09:34:14
Name: timestamp, dtype: datetime64[ns]
910   2017-08-09 00:29:59
914   2017-09-20 03:11:12
918   2017-11-12 01:56:24
922   2017-12-13 03:15:04
926   2018-01-12 02:51:11
930   2018-01-19 02:29:38
Name: timestamp, dtype: datetime64[ns]
941    2018-01-29 06:57:55
946    2018-03-02 01:32:54
950    2018-03-05 02:47:16
954    2018-05-09 07:08:49
958    2018-05-25 01:24:39
962    2018-07-02 04:54:49
967    2018-08-30 02:05:06
971    2018-09-20 02:54:16
975    2018-10-08 02:52:59
979    2018-11-05 01:30:24
987    2018-11-22 05:49:13
991    2018-12-10 07:12:53
995    2019-03-05 04:42:34
1000   2019-05-02 07:59:48
1004   2019-06-06 03:12:56
1008   2019-06-17 09:09:47
1012   2019-06-24 06:01:50
1016   2019-06-29 08:57:20
1020   2019-07-23 12:02:33
1023   2019-10-03 01:20:12
1027   2019-10-15 08:49:11
1031   2019-10-27 17:27:19
1036   2019-12-04 20:56:13
1040   2020-02-18 02:07:54
1053   2020-02-19 21:17:13
1063   2020-02-23 18:43:53
1076   2020-03-07 18:56:35
1088   2020-06-14 16:53:04
1093   2020-07-26 20:17:11
1097   2020-08-18 21:38:02
1100   2020-09-06 07:47:47
1135   2020-09-29 20:31:10
1145   2020-10-15 23:07:39
Name: timestamp, dtype: datetime64[ns]
1188   2019-03-26 04:07:12
Name: timestamp, dtype: datetime64[ns]
1196   2019-05-02 08:03:31
1201   2019-06-29 08:57:36
1206   2020-07-29 21:06:15
1210   2021-01-25 08:53:40
1214   2021-02-20 22:03:19
1221   2021-07-08 22:15:23
Name: timestamp, dtype: datetime64[ns]
1225   2019-10-30 20:53:40
1234   2020-07-28 17:16:42
1238   2020-10-14 19:13:51
1243   2021-04-12 21:44:31
Name: timestamp, dtype: datetime64[ns]
1249   2019-11-21 00:14:21
1257   2020-10-14 18:21:50
1265   2021-07-26 09:27:39
Name: timestamp, dtype: datetime64[ns]
1268   2020-01-17 07:19:45
Name: timestamp, dtype: datetime64[ns]
1273   2020-07-28 09:52:08
1279   2021-02-01 20:19:55
Name: timestamp, dtype: datetime64[ns]
1289   2021-08-22 21:37:28
Name: timestamp, dtype: datetime64[ns]

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [33]:
grouped_events['timestamp'].agg(lambda group : group.diff().mean())

doc_id
20524       102 days 18:31:30.750000
33571       526 days 15:52:17.800000
38594    179 days 00:56:35.666666666
57188               32 days 11:46:08
60075       118 days 00:09:55.750000
60779       100 days 20:07:00.400000
68427    257 days 05:27:25.857142856
68428     88 days 02:44:32.368421053
68802       217 days 06:02:53.250000
78120               90 days 06:22:16
79650       195 days 00:12:45.750000
79681        32 days 14:47:55.800000
82274        30 days 23:00:18.250000
89913                            NaT
90871       159 days 17:14:22.400000
93190              176 days 16:16:57
94375              306 days 16:36:39
95074                            NaT
97617              188 days 10:27:47
104012                           NaT
Name: timestamp, dtype: timedelta64[ns]

In [39]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()
analyzer.polarity_scores("I think this is not correct")

{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}