In [1]:
import pandas as pd
%cd ..

C:\Users\georg\Documents\msc-projcet

In [3]:
df = pd.read_csv("songs.csv")

In [4]:
df.head()

             id             title               album    views
0  6.967275e+18      Sweet Dreams        Sweet Dreams  1500000
1  6.613262e+18     Ta Kalokairia       Ta Kalokairia    11400
2  6.372070e+18              Team                Team    37200
3  6.927562e+18  Matia Mou Omorfa  An Akoma M' Agapas   213700
4  6.987815e+18      Cognac Queen           Tina Snow   675700

In [5]:
df.shape

(1316, 4)

In [8]:
df['title'].unique().shape

(1234,)